<div class="container">
    <div class="form">

        <div class="note">
            <h1> Return Book</h1>
        </div>
        <div class="form-content">
            <div class="row">
                    <div class="form-group">
                        <label><strong>ENTER BOOK ID TO RETURN </strong></label>
                        <input type="text" class="form-control" placeholder="Book Id*" value=""
                            [(ngModel)]="returnData.bookId" />
                    </div>

                </div>

            </div>
            <button type="button" class="btn btn-primary btn-lg" (click)="return()">Return Book</button>
        </div>
        <div><h3><strong> {{message}}</strong></h3></div> 
    </div>

