<div class="container Return-form">
    <div class="form">

        <div class="note">
            <h1> Return Book</h1>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-6">


                    <!-- <div class="form-group">
                      <input type="text" class="form-control" placeholder="Member Id*" value=""/>
                  </div> -->

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Book Id*" value=""
                            [(ngModel)]="returnData.bookId" />
                    </div>

                </div>

            </div>
            <button type="button" class="btn btn-primary btn-lg" (click)="return()">Return Book</button>
        </div>
        <div><h3><strong> {{message}}</strong></h3></div> 
    </div>

</div>