<div id="three">
    <div class="row">
    <img src="assets\mydata\contactus.jpeg" class="rounded float-left" alt="login image" width=500px>
    <div class="col-md-6"> 
            
    <h5 ><strong><u>CONTACT INFO</u></strong></h5>
    <p>Have any Queries? Let us know</p>
    <h5 ><strong><u>ADDRESS</u></strong></h5>
    <p>Sagi rama krishnam raju Library</p>
    <p>Bhimavaram-534204</p>
    <p>Andhra Pradesh</p> 
    <h5 ><strong><u>EMAIL</u></strong></h5>
    <p>info@srkr.ac.in</p>
    <h5 ><strong><u>PHONE NUMBER</u></strong></h5>
    <p>+91-863-2344-700 / 701</p>
    <p><u>Fax</u>:2344707</p>
</div> 
</div>
</div>