<div id="one">
</div>
<div class="container ">
    <div class="form">
        <div class="note">
            <h1> ISSUE A BOOK</h1>
        </div>
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <!-- <div class="form-group">
                      <input type="text" class="form-control" placeholder="Member Id*" value=""/>
                  </div> -->
                    <div class="form-group">
                        <label><strong>ENTER BOOK ID TO ISSUE</strong></label>
                        <input type="text" class="form-control" placeholder="Book Id*" value=""
                            [(ngModel)]="issueData.bookId" />
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg" (click)="issue()">Issue</button>
        </div>
    </div>
    <div>
        <h3><strong> {{message}} And Return The book After 7 days </strong></h3>
    </div>
</div>