<div>
    <h3><i>
        The Central Library spreads over to groundplus six floors with an area of 7770 sq.m.It is centrally
        air-conditioned,well-protected with fire alarm and CCTV surveilance .It has specialized collection of Books,Journals and other 
        resources in Sciences,Engineering and Technology, Biotechnology, Humanities, Social Sciences and Management Printed Books.
        The Central Library subscribes to national and international journals in print and e-journals. The library has a video conferencing
        facility and NPTEL video courses.
        </i>
     
    </h3>
  
  </div>
  <br>
  <br>
  
  
  <div class="row">
    
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets\mydata\Aboutus.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">PRASANTI BUDDHARAJU</h5>
      <h6 class="card-title">DEVELOPER</h6>
      <p class="card-text">EMAIL:prasantibuddharaju@gmail.com</p>
      
    </div>
    
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets\mydata\Aboutus.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">MAYURI MINIYAR</h5>
      <h6 class="card-title">DEVELOPER</h6>
      <p class="card-text">EMAIL:mayuriminiyar@gmail.com</p>
     </div> 
    </div>
  <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets\mydata\Aboutus.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">RATNESH NEMA </h5>
          <h6 class="card-title">DEVELOPER</h6>
          <p class="card-text">EMAIL:ratneshnema13@mphasis.com</p>
          
        </div>
        </div>
  <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets\mydata\Aboutus.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">KOLAGATLA HARSHITH</h5>
              <h6 class="card-title">DEVELOPER</h6>
              <p class="card-text">EMAIL:kolagatlaharshith@gmail.com</p>
              
            </div>
            </div>
  <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\mydata\Aboutus.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">KRISHNA TEJA</h5>
                  <h6 class="card-title">DEVELOPER</h6>
                  <p class="card-text">EMAIL:krishnateja3112@gmail.com</p>
                  
                </div>
                </div>
            </div>
