<div class="two">
  <br>
  <br>
  
  <div class="container ">

    <div class="form">

      <div class="note">
        <h1>Admin Login</h1>
      </div>

      <div class="form-content">
        <div class="row">
          <img src="assets\mydata\adminlogin.jpg" class="rounded float-left" alt="login image" width=500px>

          <div class="col-md-6">
            <div class="form-group">
              <br>
              <br>
              <label><strong>ADMIN ID </strong></label>
              <input type="text" class="form-control" placeholder="Admin Id*" value="" [(ngModel)]="adminLogin.memberId"
                disabled />

              <br>
              <br>
              <label><strong>ADMIN PASSWORD </strong></label>
              <input type="text" class="form-control" placeholder="Admin Password *" value=""
                [(ngModel)]="adminLogin.password" />
              <br>
              <br>
              <button type="button" class="btn btn-primary btn-lg " (click)="login()">Login</button>

            </div>
            <h5><a routerLink="/login" routerLinkActive="active" style="color: crimson;">if not a admin login here</a>
            </h5>
          </div>

        </div>
      </div>

    </div>

  </div>
  <br><br>
</div>

<router-outlet></router-outlet>