
<div class="container register-form">
    <div class="form">
        <div class="note">
            <h1>My Profile</h1>
        </div>
        <br><br>
        <h4><b>{{message}}</b></h4>
  <div class="col-md-6">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="member Id *"
         value=""[(ngModel)]="memberData[0].memberId"  disabled/>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Your Name *"
         value=""[(ngModel)]="memberData[0].name" disabled />
    </div>
    <div class="form-group">
        <input type="text" class="form-control"
         placeholder="Phone Number *" [(ngModel)]="memberData[0].phoneNumber" minlength="10" maxlength="10"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Member Email*" [(ngModel)]="memberData[0].email"/>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary btn-lg" (click)="updateMember()">Update</button> <p>&emsp; </p>
    <button type="button" class="btn btn-primary btn-lg" (click)="cancelMemberShip()">Cancel Membership</button>
    
  </div>
  </div>
  </div>
  
  </div>