
<div class="container ">
    <div class="form">
        <div class="note">
            <h1>Add Book</h1>
        </div>
  <div class="col-md-6">
    <div class="form-group">
      <label><strong>BOOK ID </strong></label>
        <input type="text" class="form-control" placeholder="Book Id*" value="" [(ngModel)]="BookDetails.bookId"/>
    </div>
    <div class="form-group">
      <label><strong>BOOK NAME </strong></label>
        <input type="text" class="form-control" placeholder="Book Name*" value="" [(ngModel)]="BookDetails.bookName"/>
    </div>
    <div class="form-group">
      <label><strong> AUTHOR </strong></label>
      <input type="text" class="form-control" placeholder="Author*" value="" [(ngModel)]="BookDetails.author"/>
  </div>
  <div class="form-group">
    <label><strong>BOOK COUNT </strong></label>
    <input type="text" class="form-control" placeholder="Book Count*" value=""[(ngModel)]="BookDetails.bookCount"/>
</div>
  <div class="form-group">
    <button type="button" class="btn btn-primary btn-lg"(click)="addBook()">Add Book</button> 
    
    
  </div>
  </div>
  </div>
  
  </div>