<div class="one">
  <br>
  <br>
  <br><br>


  <div class="container ">

    <div class="form">

      <div class="note">
        <h1>Login Here</h1>
      </div>

      <div class="form-content">
        <div class="row">
          <img src="assets\mydata\login image.jpeg" class="rounded float-left" alt="login image" width=500px>

          <div class="col-md-6">
            <div class="form-group">
              <br>
              <br>
              <label><strong> MEMBER ID</strong></label>
              <input type="text" class="form-control" placeholder="Member Id*" value=""
                [(ngModel)]="logindata.memberId" />

              <br>
              <br>
              <label><strong>PASSWORD </strong></label>
              <input type="text" class="form-control" placeholder="Your Password *" value=""
                [(ngModel)]="logindata.password" />
              <br>
              <br>
              <button type="button" class="btn btn-primary btn-lg " (click)="login()">Login</button> <br>
             <h5><a routerLink="/adminlogin" routerLinkActive="active">Are you Admin click...</a></h5>

            </div>

          </div>

        </div>
      </div>

    </div>
   <h5> <a routerLink="/register" routerLinkActive="active">if not a member? Register here</a></h5>

  </div>
  <br><br><br><br><br><br><br>
</div>


<router-outlet></router-outlet>