<div class="note">  
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="one">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home/available" routerLinkActive="active">Home<span
              class="sr-only">(current)</span> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/myprofile" routerLinkActive="active">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/issue" routerLinkActive="active">Issue Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/return" routerLinkActive="active">Return Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/myissuedbooks" routerLinkActive="active">My Issued Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/aboutus" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/contactus" routerLinkActive="active">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">LogOut</a>
        </li>
      </ul>
      <h5><b>Welcome {{name}}</b></h5>
      &nbsp;
      &nbsp;
     <h5><b>{{date | date}}</b></h5>
    </div>
  </div>

</nav>

<router-outlet></router-outlet>