<div class="container register-form">
  <div class="form">
    <div class="note">
      <h1>View a Book</h1>
    </div>
    <br>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Book Id *" value="" [(ngModel)]="searchId" />
      </div>


      <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg" (click)="getAbook()">Search</button>

      </div>
    </div>
  </div>
  <ng-template #notfound>
    <h3>
      <p>There is no book Found !</p>
    </h3>
  </ng-template>
  <div *ngIf="bookData.length!==0 ; else  notfound">
    <table class="table table-sm table-dark">
      <thead>
        <tr>
          <th scope="col">BookID: </th>
          <th scope="col">BookName:</th>
          <th scope="col">Author:</th>
          <th scope="col">BookCount:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bookdata of bookData">
          <td>{{bookdata.bookId}}</td>
          <td> {{bookdata.bookName}}</td>
          <td> {{bookdata.author}}</td>
          <td>{{bookdata.bookCount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>